/**********color reference chart**********
comment ****************** color ********

P1, blue                  rgb(89, 89, 171)   #5959AB 
P2, purple                rgb(139, 74, 162)  #8B4AA2 
P3, green                  rgb(67, 155, 140)   #439B8C

S1-1, bright blue          rgb(51, 51,161)    #3333A1
S1-2, bright purple        rgb(121, 35, 152)  #792398
S1-3, bright green         rgb(28, 145, 126)  #1C917E

S2-1, dark blue            rgb(54, 54, 143)   #36368F
S2-2, dark purple          rgb(110, 41, 135)  #6E2987
S2-3, dark green           rgb(35, 129, 113)  #238171

S3-1, light blue           rgb(142, 142, 207)  #8E8ECF
S3-2, light purple         rgb(183, 129, 201)  #B781C9
S3-3, light green          rgb(123, 197, 184)  #7BC5B8

S4-1, lighter blue         rgb(157, 157, 203)  #9D9DCB
S4-2, lighter purple       rgb(183, 146, 197)  #B792C5
S4-3, lighter green        rgb(140, 191, 183)  #8CBFB7



G1, dark                   rgb(84, 79, 84)
G2, med                    rgb(147, 146, 149)
G3, light                  rgb(253, 253, 253)

*/

/**********icon reference chart**********
char ******** icon ********

c             close   (X)
p             plus    (+)
i             info    (i)
d             delete  (trashcan)
m             modify  (pencil)

*/

#box {
    display: block;
    background-color: rgba(253, 253, 253, 0.9);
    width: 60em;
    height: 45em;
    position:absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper {
    width: 85%;
    height: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s {
    margin-top: 4em;
}

#columns {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-div {
    text-align: center;
    width: 50em;
    margin: 0 auto;
}

input {
    width: 35em;
    font-size: 1.1em;
}

textarea {
    font-size: 1.1em;
}

label {
    margin-right: 1em;
    font-size: 1.3em;
    width: 10em;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 37em;
}

td:first-child {
    text-align: right;
    width: 12em;
}

select {
    width: 25em;
    font-size: 1.1em;
}

.submit {
    margin-top: 2em;
}

h1 {
    margin-bottom: 0.75em;
}